.auth {
margin-top: 12px;
margin-right: 20px;
float: right;
}
.login.icon i {
background-position: -2px -66px;
}
.login.icon span {
display: inline-block;
padding-bottom: 5px;
border-bottom: 2px solid #fff;
}
.logout {
margin-left: 20px;
}
.logout.icon i {
width: 20px;
height: 20px;
background-position: 0px -353px;
}
