.button {
cursor: pointer;
text-decoration: none;
text-align: center;
display: block;
border: 0;
color: #fff;
padding: 10px;
background: #eb0000;
border-bottom: 7px solid #ae0000;
border-radius: 8px;
margin-top: 10px;
}
.button:hover {
background: #ff4c3d;
border-color: #dd2c24;
}
.button.blue {
background: #42a5f6;
border-color: #3583C4;
}
.button.blue:hover {
background: #80bbf6;
border-color: #5095ce;
}