.header .block {
background: #42a5f6;
color: #fff;
height: 47px;
}
.header a {
color: #fff;
text-decoration: none;
}
.header a:hover {
text-decoration: underline;
}
.header .logo {
position: absolute;
display: block;
top: 9px;
left: 20px;
width: 135px;
height: 30px;
background: url(../img/logo.png) no-repeat;
background-size: contain;
}