body {
margin: 0;
font-family: Raleway;
}
html, body, #root {
height: 100%;
}
@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-SemiBold.ttf);
font-weight: bold;
}
@font-face {
font-family: RalewayLight;
src: url(../fonts/Raleway-Light.ttf);
}
.normal-font {
font-family: Verdana, sans-serif;
}
.pageWrapper {
width: 100%;
}
.block {
margin: 0 auto;
width: 800px;
position: relative;
}
.icon i {
width: 15px;
height: 15px;
display: inline-block;
background: url(../img/sprite.png);
margin-right: 7px;
}
.pageWrapper {
height: 100%;
}
.button {
text-decoration: none;
text-align: center;
display: block;
border: 0;
color: #fff;
padding: 10px;
background: #eb0000;
border-bottom: 7px solid #ae0000;
border-radius: 8px;
margin-top: 10px;
}