body {
margin: 0;
font-size: 12px;
cursor: default;
}
body, textarea {
font-family: Raleway;
}
html, body, #root {
height: 100%;
}
@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
font-family: Raleway;
src: url(../fonts/Raleway-SemiBold.ttf);
font-weight: bold;
}
@font-face {
font-family: RalewayLight;
src: url(../fonts/Raleway-Light.ttf);
}
.normal-font {
font-family: Verdana, sans-serif;
}
.pageWrapper {
width: 100%;
background: #ccc;
}
.block {
background: #fff;
margin: 0 auto;
width: 800px;
position: relative;
}
.content {
height: calc(100vh - 47px);
}
.content > div {
height: 100px;
}
.icon i {
width: 15px;
height: 15px;
display: inline-block;
background: url(../img/sprite.png);
margin-right: 7px;
}
.pageWrapper {
height: 100%;
}

